header {
    background-color: #588C94;
    text-align: center;
    color: white;
    padding: 30px 0;
}

main {
    text-align: center;
    color: gray;
    border: palevioletred solid 5px;
    width: 500px;
    margin: 100px auto;
}

footer {
    background-color: #1D3C41;
    color: white;
    padding: 75px 0;
    border: orange solid 5px;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 21px;
}

.column {
    border: cadetblue 5px solid;
    padding: 0 100px;
}

.columns {
    display: flex;
    border: greenyellow 5px solid;
    padding: 5px;
    margin: 0 75px;
}
