body{
    background-color: #333;
    color: #f4f4f4;
}

a {
    color: darksalmon;
}

h1{
    color: aquamarine;
}

.paragraph {
    font-size: 24px;
}

#earth-title {
    color: aquamarine;
}

#mars-title {
    color: lightcoral;
}
